{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
{%load static %}

        <form method="post" novalidate enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-6">{{ form.name|as_crispy_field }}</div>
            <div class="col-6">{{ form.email|as_crispy_field }}</div>
          </div>
          <div>{{ form.phone_number|as_crispy_field}}</div>
          <div>{{ form.problem_name|as_crispy_field }}</div>
          <div>{{ form.problem_img|as_crispy_field }}</div>
          <button type="submit" class="btn btn-success">Save item</button>
        </form>
      


</html>

{% endblock %}
