{% extends 'base.html' %} {% block content %}
<p>
  <a href="{% url 'person_add' %}" class="btn btn-primary"
    >report new problem</a
  >
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>title</th>
      <th>Email</th>
      <th>problem_descrition</th>
      <th>location</th>
    </tr>
  </thead>
  <tbody>
    {% for person in people %}
    <tr>
      <td>
        <a href="{% url 'person_edit' person.pk %}">{{ person.title }}</a>
      </td>
      <td>{{ person.email }}</td>
      <td>{{ person.problem_descrition }}</td>
      <td>{{person.location}}</td>
    </tr>
    {% empty %}
    <tr class="table-active">
      <td colspan="3">No data</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
